@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin central {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


//MEDIA QUERY MANAGER
/*
0-600px     = Phone
601-900px   = Tablet potrait
901-1200px  = Tablet Landscape
Current Laptop styles
1800px+     = Big Desktop

1em=16px
1rem=10px
*/
@mixin respond($option) {
  @if $option == phone {
    @media (max-width:37.5em) { @content }; //600px
  }
  @if $option == tab-port {
    @media (max-width:56.25em) { @content }; //900px
  }
  @if $option == tab-land {
    @media (max-width:75em) { @content };  //1200px
  }
  @if $option == big-desktop {
    @media (min-width:112.5em) { @content };  //1800px
  }
}