.features_box {
  background-color: rgba($color-white, 0.8);
  padding: 3rem;
  transition: all 0.3s;
  border-radius: 3px;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.3);

  @include respond(tab-port) {
    padding: 2rem 4rem;
  }

  &-icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    -webkit-background-clip: text;
    color: transparent;
  }
  &:hover {
    transform: scale(1.06) translateY(-2px);
  }
}
