*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  // This defines what 1rem is, 1rem=10px
  font-size: 62.5%; // 10/16

  @include respond(tab-land) {  //width < 1200px
    font-size: 56.25%;   //9px
  }
  @include respond(tab-port) { //width < 900px
    font-size: 50%;   //8px
  }
  @include respond(big-desktop) {
    font-size: 75%;   //12px
  }
}
body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
      padding: 0;
    }
}