body {
  font-family: "Lato", san-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-dark;
}
.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 5rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out;

    @include respond(phone) {
      font-size: 5rem;
      letter-spacing: 1rem;
    }
  }
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.8rem;
    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      font-size: 1.5rem;
      letter-spacing: 1rem;
    }
  }
}
.heading-secondary {
  text-transform: uppercase;
  font-size: 3.9rem;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  display: inline-block;
  color: transparent;
  transition: all 0.2s;
  letter-spacing: 0.2rem;
  -webkit-background-clip: text;

  &:hover {
    transform: skewX(1.5deg) skewY(2.5deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }

  @include respond(tab-port) {
      font-size: 2.9rem;
      letter-spacing: 0;
    }

}
.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
