.footer {
  font-size: 1.4rem;
  &-section {
    position: relative;
    padding: 10rem 0; 
    @include respond(tab-port) {
      padding: 8rem 0;
      // height: 100rem;
    }
  }
  &__logo-box {
    text-align: center;
    margin-bottom: 10rem;

    @include respond(tab-port) {
      margin-bottom: 6rem;
    }
  }
  &__logo-img {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    width: 15rem;
    height: auto;
  }
  &-text {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    color: $color-white;
    width: 95%;

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
    &_copyright {
      float: right;
      width: 80%;

      @include respond(tab-port) {
      width: 100%;
      float: none;    }
    }
  }
  &-list {
    width: 100%;
    list-style: none;
    text-transform: uppercase;
    // display: inline;
  }
  &-items {
    display: inline;
    // padding: 0 3.1px;
    text-align: center;
    &:not(:last-child) {
      margin-right: 1.6rem;
    }
  }
  &-link {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-grey-light1;
      transition: all 0.2s;
      display: inline-block;
      &:hover,
      &:active {
        box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
        color: $color-primary;
        transform: scale(1.3);
      }
    }

    // @include respond(tab-port) {
    //   margin-bottom: 1.5rem;
    // }
  }
}
